
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Title of the document</title>
<link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>
	<div id="header">
		Web Logo
	</div>
	<div id="body">
        <canvas id="myCanvas" width="800" height="600" style="border:1px solid #c3c3c3;">Your browser does not support the canvas element.</canvas>
	</div>
	<div id="sidebar" style="padding:10px;">
	    <div>
	        <span>Angle: {{ angle }}</span>, X:<span>{{ x }}</span>, Y:<span>{{ y }}</span>
	    </div>
	    <div>
	    	<input type="checkbox" v-model="input_mode">Multi-Line<br>
		    <div v-if="input_mode">
		    	<textarea  id="input_area" v-model="input_cmd" rows="15" cols="45" style="font-size:13px; font-family: Arial, sans-serif;"></textarea>
	    		<button id="send" v-on:click="send1">Send</button>
		    </div>
		    <div v-else>
		    	<input id="input_line" type="text" size=60 v-model="input_cmd" v-on:keyup.enter="send1" style="font-family: Arial, sans-serif;">
	    	</div>
	    </div>
	    <div style="height: 200px;" id="log">
	    	<ul>
  				<li v-for="log in logs" v-on:click="copy_cmd">
    				{{ log }}
  				</li>
			</ul>
	    </div>
	</div>
	<div style='clear:both;'></div>
	<div id="footer">Footer 欄位</div>

<script src="vue.min.js"></script>
<script src="web_logo.js"></script>

<script>
    var width=800, height=600, x, y, angle, angle_value;
    var now_x=400, now_y=300, c="(0,0,0)", pc="(0,0,0)";

    var canvas = document.getElementById("myCanvas");
    var ctx = canvas.getContext("2d");

    var app = new Vue({
    	el: '#sidebar',
    	data: {
    		logs: [],
    		input_cmd: '',
    		input_mode: false,
    		angle: 90,
    		x: 400,
    		y: 300
    	},
	    methods: {
    			send1: function () {
    				//alert(this.input_cmd);
    				parser_text_cmd(this.input_cmd);
    			},
    			copy_cmd: function(event) {
    				this.input_cmd=event.target.innerText;
    			}
      	}
    })
    
	//ctx.fillRect(0,0,150,75);

    setxy(app.x,app.y);
    seth(app.angle);
	setpc(0, 0, 0);
</script>

</body>
</html> 